* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background: rgba(0, 0, 0, 0.6);
}

.container {
  background: #fff;
  width: 90%;
  max-width: 600px;
  padding: 20px;
  margin-top: 30px;
  /* 가운데 정렬 */
  margin-left: auto;
  margin-right: auto;
}

.form-whole {
  padding: 10px;  /* half 요소와 선 맞추기 위해 */
}

.form-input {
  padding: 15px;
  font-size: 18px;
  border: 1px solid #eee;
  border-radius: 5px;
  width: 100%;
}

.form-half {
  float: left;
  width: 50%;
  padding: 10px;  /* whole 요소에도 같은 치수로 적용해주기 */
}

.wrapper::after {
  content: "";
  display: block;
  clear: both;
}

.form-submit {
  display: block;
  width: 100px;
  border: none;
  border-radius: 5px;
  padding: 5px;
  background-color: #808000;
  color: #fff;
  margin-left: auto;
  margin-right: 10px;
}
