* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.video-box {
  width: 100%;
  max-width: 1000px;
  height: 500px;
  margin: auto;
  overflow: hidden;
  position: relative;
}

.video-container {
  z-index: 0;
  /* 중앙정렬 */
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.video-title {
  color: white;
  position: absolute;  /* video-container가 부유해있기 때문에 */
  top: 50px;
  left: 10%;
  font-size: 50px;
}